<h1 class="tittle animated jackInTheBox">{{ tittle }}</h1>
<ul class="animated flipInX" *ngIf="mode=='list'">
  <p class="text-center" *ngIf="toDos.length === 0"><small>You don't have task's today!</small></p>
  <li *ngFor="let toDo of toDos">{{ toDo.tittle }}
    <button (click)="delete(toDo)"><i class="fas fa-trash-alt"></i> Delete</button> <!--font-awesome-->
    <button *ngIf="!toDo.done" (click)="markAsDone(toDo)"><i class="far fa-check-circle"></i></button> <!--font-awesome-->
    <button *ngIf="toDo.done" (click)="markAsUndone(toDo)"><i class="fas fa-check-circle"></i></button> <!--font-awesome-->
  </li>
</ul>

<div id="modal" *ngIf="mode=='add'" class="animated flixInX">
  <h1 class="text-center">New Task</h1>
  <form [formGroup]="form">
    <input type="text" placeholder="Task tittle" maxlength="60" formControlName="tittle">
    <small class="danger" *ngIf="form.controls['tittle'].invalid && !form.controls['tittle'].pristine">This field must contain 3 to 60 characters.<br></small>
    <p class="text-center">
      <button class="button" [disabled]="form.invalid" (click)="add()"><i class="far fa-save"></i> Save</button> <!--font-awesome-->
    </p>
  </form>
</div>

<button class="add-button animated fadeInUp button" (click)="chandeMode('add')" *ngIf="mode=='list'">
  <i class="fas fa-plus-circle"></i> <!--font-awesome-->
  NOVA TAREFA
</button>

<button class="add-button animated fadeInUp button" (click)="chandeMode('list')" *ngIf="mode=='add'">
  <i class="fas fa-times"></i> <!--font-awesome-->
  CANCELAR
</button>