<h1>{{ tittle }}</h1>
<ul>
  <li *ngFor="let toDo of toDos">{{ toDo.id }}. {{ toDo.tittle }} - 
    <button *ngIf="!toDo.done" (click)="markAsDone(toDo)">Done</button> 
    <button *ngIf="toDo.done" (click)="markAsUndone(toDo)">Remake</button> |
    <button (click)="delete(toDo)">Delete</button>
  </li>
</ul>

<form [formGroup]="form">
  <fieldset>
    <label>Task: </label>
    <input type="text" placeholder="Task tittle" maxlength="60" formControlName="tittle">
    <small *ngIf="form.controls['tittle'].invalid && !form.controls['tittle'].pristine">This field must contain 3 to 60 characters.</small>
    <button>Save</button>
  </fieldset>
</form>